

/* Login Form */
body{
    background:image-set("stock-photo-autumn-forest-path-orange-color-tree-red-brown-maple-leaves-in-fall-city-park-nature-scene-in-2198009967.jpg");
}
.form {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px; /* Added px */
    align-items: center;
    margin: 50px auto;
    background-color: rgba(40, 10, 162, 0.5);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0); /* Fixed invalid box-shadow */
    border-radius: 25px
}

.form h1 {
    color: rgb(35, 144, 40);
    font-size: 2rem;
    border-bottom: 4px solid rgba(170, 172, 23, 0.5);
    margin: 50px;
}

.box {
    padding: 12px;
    margin: 20px;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 20px;

    box-shadow: inset -3px 0 0 rgba(7, 164, 188, 0.5); /* Corrected shadow syntax */
    color: rgb(24, 213, 242);
    font-size: 1rem;
}

#submit {
    padding: 10px 20px;
    margin-top: 50px;
    width: 50%; /* Changed from 50px to auto for better usability */
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(191, 12, 12, 0.5);

    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
}
submit:hover{
    cursor: pointer;
    background-color: rgba(77, 26, 144, 0.803);
    
}

::placeholder{
<<<<<<< HEAD
    
=======
    color: rgb(162, 34, 132);
>>>>>>> 75e8da15655dd129132372b871a69cb82e7ec0a5
    opacity: 0.7em;
}
